    .gray1{ background-color: #ccc; }
    .black{ background-color: #000; }
    .white{ background-color: white; }
    .tempest-gold{ background-color: #DDC443; }
    .tempest-black{ background-color:black; }
    .font-white{ color: white; }