#topbar {
    background-image: url(../pictures/20170719_194819.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
    border: 1px solid black;
}

.gray1{ background-color: #ccc; }
.black{ background-color: #000; }
.white{ background-color: white; }
.font-white{ color: white; }

.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.navbar-brand {
	padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.footer {
  height: 60px;
  background-color: #C1C1C1;
  margin-top:20px;
  padding-top:10px;
  padding-bottom:30px;
	color:whitesmoke;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


td { font-size: 14px; margin: 0; }
th { font-size: 14px; margin: 0; }
table { border-collapse: separate; border-spacing: 2px; display: table; margin-bottom: 0; margin-top: 0; -moz-box-sizing: border-box; text-indent: 0; }